
<!-- <ActionBar>
  <Label text="Home Page"></Label>
</ActionBar>


<GridLayout>
  <Button text="Google Sign-in" (tap)="login()" class="btn" style="color:red"></Button>
</GridLayout> -->

<!-- The template for the chat component should be represented if this is typed:
<GridLayout>
  <Chat></Chat>
</GridLayout>
 -->



  <!-- This is general idea of what a button to go to the class page would be like
  if it doesn't work maybe adjuct the path to the chat.component.html -->


  <GridLayout>
    <StackLayout>
      <Button text="Go To Chat" [nsRouterLink]="['Chat']" class="btn btn-primary btn-active" col="0"></Button>
      <Button text="Kill a Player" *ngIf="this.isKiller" [nsRouterLink]="['Killing']" class="btn btn-primary btn-active" col="0"></Button>
    </StackLayout>
    <router-outlet></router-outlet>
  </GridLayout>

