
<ActionBar>
  <Label text="Home Page" ></Label>
</ActionBar>






  <!-- This is general idea of what a button to go to the class page would be like
  if it doesn't work maybe adjuct the path to the chat.component.html -->


  <GridLayout>
    <StackLayout>
      <Button [text]="text" *ngIf="!this.component_isLoggedIn" (tap)="login()" class="btn home" style="color:red"></Button>
      <Button text="Go To Chat" *ngIf="this.component_isLoggedIn" [nsRouterLink]="['Chat']" class="btn btn-primary btn-active home" col="0"></Button>
      <Button text="Go To Snapshot" *ngIf="component_isLoggedIn" [nsRouterLink]="['Snapshot']" class="btn btn-primary btn-active" col="0"></Button>
      <Button text="Kill a Player" *ngIf="this.isKiller && !this.votingOpen && this.component_isLoggedIn" [nsRouterLink]="['Killing']" class="btn btn-primary btn-active home" col="0"></Button>
      <Button text="Go to Vote Player" *ngIf="this.votingOpen && this.component_isLoggedIn" [nsRouterLink]="['Voting']" class="btn btn-primary btn-active home" col="0"></Button>
      <Button text="Go to Geolocation" *ngIf="this.component_isLoggedIn" [nsRouterLink]="['Location']" class="btn btn-primary btn-active" col="0"></Button>
      <Button text="Players Nearby" *ngIf="this.component_isLoggedIn" [nsRouterLink]="['campusMap']" class="btn btn-primary btn-active home" col="0"></Button>
    </StackLayout>
    <router-outlet></router-outlet>
  </GridLayout>

