#container {
    font-family: 'Bucksaw Grotesque';
    height: 100%;
    text-align: center;
    justify-content: space-between
}

Label {
    font-weight: bold;
    font-size: large;
}

Label.player-view {
    font-size: smaller;
    font-weight: 400;
}

#container ListView {
    height: 100%;
}
